{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row py-5 bg-light">
            <div class="col-sm-6">
                <div class="col-lg-10 mx-auto">
                    <img src="{{asset('img/team0.jpg')}}" img="img-fluid" width="600" alt="">
                </div>
            </div>
            <div class="col-sm-6 my-auto">
                <div class="col-lg-10 mx-auto text-center">
                    <h1>Outil de Gestion de Projet</h1>
                    <p><strong>Topp Projet</strong> est votre outil de gestion de projet qui vous permet de manager les equipe et l'execution des taches.</p>
                    <h4>Topp Projet, suiver votre projet jusqu'au bout</h4>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <img src="{{asset('img/team1.jpg')}}" class="img-fluid" height="200" alt="">
        </div>

        <div class="row py-5 bg-light">
            <div class="col-sm-6 my-auto">
                <div class="col-lg-10 mx-auto text-center">
                    <h4 class="mb-3">Joindre vos taches pour accomplir une mission</h4>
                    <h1 class="mb-3"><strong>J'ai commencer, J'ai fini</strong></h1>
                    <h4 class="mb-3">Topp Projet, chaque tache est une histoire</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-lg-10 mx-auto">
                    <img src="{{asset('img/work0.jpg')}}" img="img-fluid" width="600" alt="">
                </div>
            </div>
        </div>

        <div class="row py-5" align="center">
            <h4 class="mb-3">Je plannifie, j'execute, je suit, je valide</h4>
            <p class="mb-3 fw-bold">Je suit mon projet jusqu'au bout</p>
            <div class="col-lg-7 mx-auto">
                <img src="{{asset('img/pm0.jpg')}}" class="img-fluid" height="200" alt="">
            </div>
        </div>
    </div>
{% endblock %}
