{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-3">
        <div class="row">
            <div class="col-sm-6">
                <h4>{{projet.name}} de {{projet.begin | date('d M y')}} à {{projet.end | date('d M y')}}</h4>
            </div>
            <div class="col-sm-6" align="right">
                <a href="#newstep" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"><i class="fas fa-plus"></i> Etape</a>
                <a href="#newtask" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"><i class="fas fa-plus"></i> tache</a>
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
      <hr>
      <div class="row scroller dossier">
        {% include 'home/steps.html.twig' %}
    </div>
</div>

{% include 'home/newstep.html.twig' %}
{% endblock %}
